<style>
    body {
        background-color: #e5e5e5;
    }

    .col-md-6 {
        background-color: #fff;
        border-radius: 5px;
        height: 100% !important;
    }

    img {
        margin-top: 1rem!important;
    }
</style>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <h1>Alexandre de Charry</h1>
        <h2>GitHub Manager & Full Stack Developer</h2>
        <img src="https://i.imgur.com/vpmPibh.png" alt="" width="200" class="img-fluid  mb-3 img-thumbnail shadow-sm">
        <p>Exchange student at SFSU.</p>
        <p>Experienced game developer, web developper and business intelligence engineer</p>
    </div>
    <div class="col-md-3"></div>
</div>