<!-- <style>
    /* Desktop styles */
    body {
        background-image: url(/img/ASOPF-bg.jpg); 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .home-container {
        padding: 0px 15%;
    }

    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        
        /* font-size: 20px;
        background-color: cyan;
        border: darkgreen 5px solid; */
        padding: 5px;
        z-index: 100;
    }

    /* Mobile styles */
    @media (max-width: 1000px) {
        body {
            background-image: url(/img/ASOPF-bg-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
    }
</style> -->
<div class="home-container">
    <div class="centered">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off"> Week
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Month
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option3" autocomplete="off"> All
                    </label>
                  </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="text" class="form-control" value="San Francisco" placeholder="California County...">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3"></div>
            <div class="col-md-3 text-center">
                <button type="button" class="btn btn-info">Search Wildfire
            </div>
            <div class="col-md-3 text-center">
                <button type="button" class="btn btn-info">Search COVID
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="row"></div>
</div>