<h1>Mohammad Razavi</h1>
<h2>Front & Back-End Developer</h2>
<p>Senior Computer Science student at SFSU.</p>
<p>Experienced in cross-platform coding, databases, and application support.</p>
<p>Worked in telecommunication, mainly hardware.</p>
