<style>
    :root {
        --main-bg-color: #333;
        --left-bg-color: rgba(223, 39, 39, 0.2);
        --left-button-hover-color: rgba(161, 11, 11, 0.3);
        --right-bg-color: rgba(43, 43, 43, 0.2);
        --right-button-hover-color: rgba(92, 92, 92, 0.3);
        --hover-width: 75%;
        --other-width: 25%;
        --speed: 1000ms;
    }

    .container {
        margin-top: 25%;
    }

    html,
    body {
        padding: 0;
        margin: 0;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    h1 {
        font-size: 4rem;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .main {
        position: relative;
        width: 100%;
        height: 100%;
        background: var(--main-bg-color);
    }

    .split {
        position: absolute;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }

    .text-center button {
        width: 50%;
    }

    .split.left {
        left: 0;
        background: url('https://static01.nyt.com/images/2020/05/15/opinion/13Field1/merlin_167605491_f32ec626-cb5e-4ab1-b3e4-af86a38fe739-mobileMasterAt3x.jpg') center center no-repeat;
        background-size: cover;
    }

    .split.left:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: var(--left-bg-color);
    }

    .split.right {
        right: 0;
        background: url('https://img.freepik.com/vecteurs-libre/coronavirus-background-bacteries-germes-cellule-virus-micro-organisme_139523-215.jpg?size=664&ext=jpg') center center no-repeat;
        background-size: cover;
    }

    @media(max-width: 1000px) {
        .split {
            position: absolute;
            width: 100%;
            height: 50%;
            overflow: hidden;
        }
        .split.left {
            top: 0;
            left: default;
            background: url('https://static01.nyt.com/images/2020/05/15/opinion/13Field1/merlin_167605491_f32ec626-cb5e-4ab1-b3e4-af86a38fe739-mobileMasterAt3x.jpg') center center no-repeat;
            background-size: cover;
        }
        .split.right {
            right: default;
            bottom: 0;
            background: url('https://img.freepik.com/vecteurs-libre/coronavirus-background-bacteries-germes-cellule-virus-micro-organisme_139523-215.jpg?size=664&ext=jpg') center center no-repeat;
            background-size: cover;
        }
    }

    @media(max-width: 800px) {
        h1 {
            font-size: 2rem;
        }

        .button {
            width: 12rem;
        }
    }

    @media(max-height: 700px) {
        .button {
            top: 70%;
        }
    }
</style>

<!-- Modal -->
<div class="modal fade" id="disclaimer" tabindex="-1" role="dialog" aria-labelledby="disclaimer-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="disclaimer-label">Disclaimer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>This website is a student project, and <strong style="color:red">not</strong> an official page endorsed by the state of California or any other government authority.</p>
                <p>By continuing through the site, you acknowledge that this is only a student project and not an official verified source of data.</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">I Accept</button>
            </div>
        </div>
    </div>
</div>

<div class="split left">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Wildfire</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/wildfire">
                    <button class="btn btn-primary">View Map</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="split right">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>COVID-19</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2 text-center">
                <a href="/covid">
                    <button class="btn btn-secondary">View Map</button>
                </a>
            </div>
            <div class="col-md-12 mb-2 text-center">
                <a href="/covid/<%= userCounty == null ? 'San Francisco' : userCounty %>">
                    <button class="btn btn-secondary">View Data by County</button>
                </a>
            </div>
            <div class="col-md-12 mb-2 text-center">
                <a href="/covid-demo">
                    <button class="btn btn-secondary">View Data by Demographics</button>
                </a>
            </div>
        </div>
</div>
<script>
    $(document).ready(function(){
        $('#disclaimer').modal('show');
    });
    // function test() {
    //     console.log("test")
    // }
    
    // const left = document.querySelector(".left");
    // const right = document.querySelector(".right");
    // const main = document.querySelector(".main");

    // left.addEventListener("mouseenter", () => {
    //     main.classList.add("hover-left");
    // });

    // left.addEventListener("mouseleave", () => {
    //     main.classList.remove("hover-left");
    // });

    // right.addEventListener("mouseenter", () => {
    //     main.classList.add("hover-right");
    // });

    // right.addEventListener("mouseleave", () => {
    //     main.classList.remove("hover-right");
    // });

</script>