.active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}

body {
    background-color:#ccc;
}

.container {
    background-color: #fff;

}

#logo {
    height: 50px;
    width: auto;
}

html,body {
    height: 100%;
}

#view-buttons button { 
    width: 100%;
}

#display-avatar img {
    max-height: 100px;
    width: auto;
}

#user-navatar {
    max-height: 45px;
    width: auto;
}